[Unit]
Description=zram-config
After=local-fs.target
Before=openhab2.service smbd.service

[Service]
Type=oneshot
TimeoutSec=300
RemainAfterExit=yes
ExecStartPre=-/usr/local/sbin/zramsync "recover" "/storage/zram"
ExecStart=/usr/local/sbin/zram-config "start"

[Install]
WantedBy=basic.target
